.icon-page .filter-section {
  margin: 0 auto;
}
.icon-page .main-container .icon-category-container {
  position: fixed;
  left: 10%;
  top: 10%;
}
.icon-page .main-container .icon-category-container .to-top {
  width: 75px;
  height: 50px;
  font-size: 12px;
  font-weight: 400;
  color: #999999;
  cursor: pointer;
  border: 0.5px dashed #ebebeb;
  border-radius: 19.1%;
  transition: all, 300ms;
}
.icon-page .main-container .icon-category-container .to-top:hover {
  font-size: 16px;
  background: #efeff3;
}
.icon-page .main-container .icon-category-container .icon-category-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #999999;
  cursor: pointer;
  transition: all, 300ms;
}
.icon-page .main-container .icon-category-container .icon-category-item:hover {
  color: #1B80DD;
}
.icon-page .main-container .icon-category-container .active {
  font-weight: 600;
  font-size: 14px;
  color: #4C9EEA;
}
.icon-page .main-container .icon-category-container .active:hover {
  color: #4C9EEA;
}
.icon-page .main-container .icon-container .icon-group .icon-group-title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #999999;
}
.icon-page .main-container .icon-container .icon-group .icon-group-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .icon-page .filter-section {
    width: 284px;
    padding-top: 75px;
  }
  .icon-page .main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 45px;
    margin-bottom: 180px;
  }
  .icon-page .main-container .icon-category-container {
    display: none;
  }
  .icon-page .main-container .icon-container {
    width: 345px;
  }
  .icon-page .icon-container .icon-group {
    margin-top: 40px;
  }
  .icon-page .icon-container .icon-group:first-child {
    margin-top: 0;
  }
  .icon-page .icon-container .icon-group .icon-group-title {
    line-height: 20px;
  }
  .icon-page .icon-container .icon-group .icon-group-item-container {
    margin: -8px;
    margin-top: 2.5px;
  }
  .icon-page .icon-container .icon-group .icon-group-item-container .icon-item {
    margin: 7.5px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .icon-page .filter-section {
    width: 284px;
    padding-top: 75px;
  }
  .icon-page .main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 45px;
    margin-bottom: 180px;
  }
  .icon-page .main-container .icon-category-container {
    width: 165px;
  }
  .icon-page .main-container .icon-container {
    width: 524px;
  }
  .icon-page .icon-container .icon-group {
    margin-top: 40px;
  }
  .icon-page .icon-container .icon-group:first-child {
    margin-top: 0;
  }
  .icon-page .icon-container .icon-group .icon-group-title {
    line-height: 20px;
  }
  .icon-page .icon-container .icon-group .icon-group-item-container {
    margin: -8px;
    margin-top: 2.5px;
  }
  .icon-page .icon-container .icon-group .icon-group-item-container .icon-item {
    margin: 7.5px;
  }
}
@media screen and (min-width: 1024px) {
  .icon-page .filter-section {
    width: 620px;
    padding-top: 80px;
  }
  .icon-page .main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 180px;
  }
  .icon-page .main-container .icon-category-container {
    width: 140px;
  }
  .icon-page .main-container .icon-container {
    width: 780px;
  }
  .icon-page .icon-container .icon-group {
    margin-top: 40px;
  }
  .icon-page .icon-container .icon-group:first-child {
    margin-top: 0;
  }
  .icon-page .icon-container .icon-group .icon-group-title {
    line-height: 20px;
  }
  .icon-page .icon-container .icon-group .icon-group-item-container {
    margin: -10px;
    margin-top: 5px;
  }
  .icon-page .icon-container .icon-group .icon-group-item-container .icon-item {
    margin: 10px;
  }
}
