<div>
  <div :class="`apron-header ${blur ? 'apron-blur' : ''} ${magic ? 'apron-magic' : ''} ${`apron-header-theme-${theme}`} ${hasBackground ? 'apron-background-header' : ''}`">
    <div class="container-core header">
      <div class="logo">
        <router-link to="/">
          <img :src="logo" />
        </router-link>
      </div>
      <div class="menu">
        <div
          v-for="item in menu"
          :class="['menu-item', item.to === path ? 'active' : '']"
          :key="`menu-${item.key}`">
          <div class="menu-item-title" @click="handleMenuItemClick(item)">{{ item.name }}</div>
          <div class="menu-item-sub-menu" v-if="item.type === 'submenu'">
            <div class="sub-menu-item" v-for="sub in item.children" :key="`menu-${item.key}-sub-${sub.key}`"  @click="handleMenuItemClick(sub)">
              {{ sub.name }}
            </div>
          </div>
        </div>
      </div>
      <div class="burger-menu">
        <Icon name="burger" />
      </div>
      <div class="shortcut">
        <div class="user-area">
          <Icon name="person" />
        </div>
        <div class="quick-order-button">
          <div class="order-button" @click="quickOrderVisible = true">
            中文
          </div>
        </div>
      </div>
    </div>
  </div>
  <Drawer :visible.sync="quickOrderVisible" title="Under Developing">
    正在开发中
  </Drawer>
</div>
